
.pegedit {
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 45px);
	padding: 15px 20px 30px;
}

.pegedit textarea {
	width: 100%;
	flex-grow: 1;
	font-family: monospace;
	font-size: 12px;
	white-space: nowrap;
	background: #efefef;
}

.pegedit input {
	width: 100%;
}

.skttl-parametereditorgenerator .alert-danger {
	padding: .5em;
	font-size: .9em;
	font-weight: bold;
}
